.container
	.row.no-top-padding
		.col-md-6.col-md-offset-3.centered
			button.btn.btn-aqua.btn-lg.btn-block(type='button' ng-click='flush()')
				span.small ready, set...
				span.big FLUSH!
	.row
		.col-md-6.col-md-offset-3.centered
			img.img-responsive.toilet(src='/img/toilet.png')
