body {
	border-top: 5px #66FFFF solid;
	background-color: #333;
}
.container {
	margin-top: 45px;
}
.tile {
	background: url('../img/tile-bg.png') #fff;
	min-height: 100%;
	height: auto !important;
	height: 100%;

}
h1, p {
	font-family: "nimbus-sans",sans-serif;
	color: #333;
}
a {
	color: #66FFFF;
}
a:hover {
	color: #006666;
}

p {
	font-size: 18px;
}
.img-responsive {
	margin-right: auto;
	margin-left: auto;
}
.centered {
	text-align: center;
}
.highlighted {
	font-weight: bold;
	color: #006666;
	background-color: #66FFFF;
	padding: 4px;
}

.title-container {
	display: block;
	min-height: 20px;
	width: 100%;
	margin-top: -70px;
}

#title {
	position: absolute;
	top: -7px;
	background: #ffffff;
	border-top: 5px #ffffff solid;
	border-bottom: 5px #66FFFF solid;
	text-align: left;
	width: 100%;
}

#title h4 {
	min-width: 270px;
}
.processing {
	margin: -80px, 50px;
}

.processing, .stats {
	background-color: #ffffff;
	margin-bottom: 60px;
}

.btn-aqua {
  color: #ffffff;
  background-color: #333;
  border-color: #669999;
  margin-bottom: 20px;
}

.btn:hover, .btn:focus {
	color: #66FFFF;
	text-decoration: none;
	background-color: #444;
}

.small {
	font-size: 35px;
	font-weight: 100;
}

.big {
	font-size: 50px;
	margin-top: -10px;
	display: block;
	font-weight: 300;
}

.toilet {
	max-width: 160px;
}
.tp {
	margin-top: 10px;
	vertical-align: top;
	margin-left: -85px;
}
.floor {
	background-color: #333;
	position: fixed;
	width: 100%;
	min-height: 130px;
}

#footer {
	background-color: #333;
	height: 130px;
}

#footer p {
	font-size: 14px;
}