script(src='js/lib/angular/angular.js')

extends layout

block body
	#wrap
		.tile
			.title-container
			#title
				.col-md-3.col-md-offset-3
					h4
						img(src='/img/toilcon.png') 
						|  swirl.ly 
						small  the journey of the urban flush
			.container				
				div(ng-controller='FlushCtrl')
					div(ng-switch="flushState").toilet-container
						div(ng-switch-when="start")
							//- start flush 
							.row
								.col-md-6.col-md-offset-3.centered
									div(ng-click='flush()')
										button.btn.btn-aqua.btn-lg.btn-block(type='button')
											span.small ready, set...
											span.big FLUSH!
							.row
								.col-md-6.col-md-offset-3.centered
									.toilet-img-container 
										img.tp(src='/img/tp.png')
										img.toilet(src='/img/toilet.png')

						div(ng-switch-when="flushProcessing")
							.row
								.col-md-6.col-md-offset-3.text-center
									.processing
										h3
											| Hang tight, while we, uh,
											br
											i process 
											|  your submission.
											br
											br
											img(src='/img/loading.gif')
											br
											br
						div(ng-switch-when="flushResults")
							.row
								.col-md-6.col-md-offset-3.text-center
									.stats
										h3
											| Nicely done!
										p
											| You flushed in the 
											br
											span.highlighted {{watershed}}.
										p
											| Starting out on a 
											br
											span.highlighted  {{distance}} mile journey
											| , your flush is heading to the 
											br
											span.highlighted  {{facility}}
											| .
										p
											| It will join other people’s flushes and a couple ex-goldfish, travelling 
											br
											span.highlighted {{elevation}} feet
											|  in elevation to get there.
										img.img-responsive(src="http://api.tiles.mapbox.com/v3/{{map_key}}/pin-l-industrial+333({{facility_lon}},{{facility_lat}}),pin-m-water+333({{longitude}},{{latitude}})/{{longitude}},{{latitude}},{{map_zoom}}/450x450.png")


										//- p
										//- 	| It will take about
										//- 	strong 14 days
										//- 	| to complete it’s journey back out into the bay, where it will be at least
										//- 	strong 96% clean
										//- 	| .
										hr
										.row
											.col-md-6.text-center						
												p
													| Tell your friends: 
													a.twitter-share-button(
														href='https://twitter.com/share', 
														data-size='large', 
														data-text='I just mapped my flush with http://swirl.ly!'
														data-lang='en') 
														| Tweet
														script(src='//platform.twitter.com/widgets.js')
											.col-md-6.text-center	
												p	
													| Learn more: 	
													a(href='http://www.sfwater.org/index.aspx?page=433') 
														button.btn.btn-aqua(type='button')
															| SF Water Power Sewer	
													| or
													a(href='http://www.austinwater.gov')
														button.btn.btn-aqua(type='button')
															| Austin Water
						div(ng-switch-when="flushFail")
							.row
								.col-md-6.col-md-offset-3.text-center
									h3
										| Oh Noes!
									p
										| We can't seem to get your location, 
										br
										| or maybe you're not in San Francisco or Austin? 
										br
										| Sorry about that. 
									p 
										a(ng-click="restart()") 
											button.btn.btn-aqua(type='button')
												| Try again
	#footer
		.container
			p.text-muted.credit.text-center Swirl.ly is licensed under Creative Commons | 
				a(href='https://github.com/emilyville/swirl.ly') View it on Github


	script(src='js/lib/angularjs-geolocation/src/geolocation.js')
	script(src='js/app.js')
	script(src='js/services.js')
	script(src='js/controllers.js')
	script(src='js/filters.js')
	script(src='js/directives.js')
	script(src='js/lib/jquery/jquery-2.0.3.min.js')
	script(src='bootstrap/js/bootstrap.min.js')
